*{
    padding: 00;
    margin: 00; 
    border-style: solid; 
    border-color:darkgrey;
    border-width: 1px;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}
button{
    background-color: #f08804;
    color: white;
}
#logo{
    background-color: #f08804;
    color: white;
    font-size: 25px;
}
a{
    margin-right: 200px;
}